:root{
	--primary-color:#047aed;
	--secondary-color:#1c3fa8;
	--dark-color:#002240;
	--light-color:#f4f4f4;
	--success-color:#5cb85c;
	--error-color:#d9534f;
}

*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}
body{
	font-family: Arial;
	color:#333;
	line-height: 1.6;
}
ul {
	list-style-type: none;
}
a{
	text-decoration: none;
	color:#333;
}
h1{
	line-height: 1.2;
	margin:10px 0;
}
img{
	width: 100%;
}
/* Navbar*/
.navbar{
	background-color: var(--primary-color);
	color:#fff;
	height: 70%;
}
.container{
	max-width: 1100px;
	margin:0 auto;
	padding:0 20px;
}
.navbar .flex{
	justify-content: space-between;
}
.navbar ul{
	display: flex;
	margin-top: 0px;
}
.navbar a{
	color: #fff;
	padding: 20px;
}
.navbar a:hover{
	border-bottom:3px solid yellow;
}
.flex{
	display: flex;
	justify-content: center;	
	align-items: center;
	height: 100%;
}
/* Showcase */
.showcase{
	height: 400px;
	background-color:var(--primary-color);
	margin-top: -10px;
	color:#fff;
	position: relative;
}
.showcase h1{
	font-size: 40px;
}
.showcase p{
	margin:20px 0;
}
.grid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:20px;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.showcase .grid{
	grid-template-columns: 55% 45%;
	gap:30px;
}
.showcase-form{
	position: relative;
	top:60px;
	height: 350px;
	width: 400px;
	padding:40px;
	z-index: 100;
	justify-self:flex-end;
}
.showcase-form .form-control{
	margin:30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email']{
	border:0;
	border-bottom: 1px solid #b4becb;
	width:100%;
	padding:3px;
	font-size: 16px;
}
.showcase-form input:focus{
	outline:none;
}
.showcase::before,
.showcase::after{
	content:'';
	position: absolute;
	height: 100px;
	bottom:-100px;
	right: 0px;
	left:0px;
	background: #fff;
	transform: skewY(-3deg);
}
.card{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	padding: 20px;
	margin:10px;
}
.btn{
	display: inline-block;
	padding :10px 30px;s
	cursor:pointer;
	background:var(--primary-color);
	color:#fff;
	border:none;
	border-radius: 5px;
	font-size: 12px;
}
.btn-outline{
	background-color: transparent;
	border:1px solid #fff;
}
.btn:hover{
	transform: scale(0.9);
}
/*states*/
.stats{
	padding-top: 120px;
}
#anh1{
	width: 80px;
	height: 80px;
}
#anh2{
	width: 80px;
	height: 80px;
}
#anh3{
	width: 80px;
	height: 80px;
}
.text-center{
	text-align: center;
	padding-top: 50px;
}
.stats-heading{
	max-width: 500px;
	margin:auto;
}
.stats .grid h3{
	font-size: 35px;
}
.stats .grid p{
	font-size: 20px;
	font-weight: bold;
}
/* CLI */
.cli .grid{
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
}
.cli .grid > *:first-child{
	grid-column: 1/ span 2;
	grid-row: 1 / span 2;
}
.cloud .grid{
	grid-template-columns: 4fr 3fr;
}
.bg-secondary,.btn-secondary
{
	background-color: var(--secondary-color);
	color:#fff;
}
.bg-primary,.btn-primary
{
	background-color: var(--primary-color);
	color:#fff;
}
.bg-dark,.btn-dark
{
	background-color: var(--dark-color);
	color:#fff;
	margin-top: 20px;
}
.bg-light,.btn-light
{
	background-color: var(--light-color);
	color:#333;
}
.lead{
	font-size:20px;
}
.sm{
	font-size: 1rem;
}
.md{
	font-size: 2rem;
}
.lg{
	font-size: 3rem;
}
.xl{
	font-size: 4rem;
}
/* Languages */
.languages .flex{
	flex-wrap: wrap;
}
.languages .card{
	text-align: center;
	margin: 18px 10px 40px;
	transition: transform 0.2s ease-in;
}
.languages .card h4{
	font-size: 20px;
	margin-bottom: 10px;
}
.languages .card:hover{
	transform: translateY(-15px);
}
#anh14{
	width: 40px;
	height: 40px;
}
#anh15{
	width: 40px;
	height: 40px;
}
#anh16{
	width: 40px;
	height: 40px;
}
#anh17{
	width: 40px;
	height: 40px;
}
.footer .social a{
	margin: 0 10px;
}
/*bat dau phan reponsive day*/
@media (max-width: 768px)
{

	.grid,
	.showcase .grid,
	.stats .grid,
	.cli .grid,
	.cloud .grid,
	.features-main .grid,
	.docs-main .grid{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.showcase{
		height: auto;
	}
	.showcase-text{
		text-align: center;
		margin-top:40px;
	}
	.showcase-form{
		justify-self:center;
		margin:auto;
	}
	.cli .grid > *:first-child{
	grid-column: 1;
	grid-row: 1 ;
	}
	.features-head,
	.features-sub-head,
	.docs-head{
		text-align: center;
	}
	.features-head img,
	.features-sub-head img,
	.docs-head img{
		justify-self: center;
	}
	.features-main .grid> *:first-child,
	.features-main .grid > *:nth-child(2){
		grid-column: 1;
	}
}
@media (max-width: 500px){
	.navbar{
		height: 110px;
	}
	.navbar.flex{
		flex-direction: column;
	}
	.navbar ul{
		padding:10px;
		background-color: green;
	}
	.grid,
	.showcase .grid,
	.stats .grid,
	.cli .grid,
	.cloud .grid,
	.features-main .grid,
	.docs-main .grid{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}/* Features*/
.features-head img, .docs-head img{
	width: 200px;
	justify-self:end;
	margin-right: -400px;
}
.features-sub-head img{
	width: 300px;
	justify-self:flex-end;
}
#anh20{
	width: 80px;
	height: 80px;
}
#anh21{
	width: 80px;
	height: 80px;
}
#anh22{
	width: 80px;
	height: 80px;
}
#anh23{
	width: 80px;
	height: 80px;
}
#anh24{
	width: 80px;
	height: 80px;
}
#anh25{
	width: 80px;
	height: 80px;
}
.features-main .card>i{
	margin-right: 20px;
}
.features-main .grid{
	padding:30px;
}
.features-main .grid > *:first-child{
	grid-column: 1/ span 3;
}
.features-main .grid > *:nth-child(2){
	grid-column: 1/ span 2;
}
/*Docs*/
.docs-main h3{
	margin:20px 0;
}
.docs-main .grid{
	grid-template-columns: 1fr 2fr;
	align-items: flex-start;
}
.docs-main nav li{
	font-size: 17px;
	padding-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px #ccc solid;
}
.docs-main a:hover{
	font-weight: bold;
}
/*Alert*/
.alert{
	background-color: var(--light-color);
	padding:10px 20px;
	font-weight: bold;
	margin:15px 0;
}
.alert i{
	margin-right: 10px;
}

.alert-success{
	background-color: var(--success-color);
	color:#fff;
}
.alert-error{
	background-color: var(--error-color);
	color: #fff;
}
code,pre{
	background: #333;
	color: #fff;
	padding:10px;
}
.text-secondary
{
	color: var(--secondary-color);
}
.text-primary
{
	color: var(--primary-color);
}
.text-dark
{
	color: var(--dark-color);
}
.text-light
{
	color: var(--light-color);
}